body{
  text-align: center;
  background-color: rgb(237, 251, 246);
}
.titleContainer{
  margin-top : 50px;
}
.booksCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.booksCards img{
  width: 100%;
}
.card{
  flex: 0 auto;
  width: 18%;
  transition: all 0.3s ease 0s;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  border: 0.3px rgb(109, 108, 108) solid;
  background-color: white;
}
.card:hover, button:hover{
  filter: drop-shadow(0px 1px 6px #bfbcbc);
}
input{
  padding: 10px;
  width: 280px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: #a4a2a2 1px solid;
}
button{
  border: 1px solid #7D5C3B;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: white;
  color: #7D5C3B;
}
p{
  font-size: 1.3rem;
}
@media only screen and (max-width: 1000px) {
  .card{
    width: 25%;
  }
}
@media only screen and (max-width: 700px) {
  .card{
    width: 35%;
  }
}
@media only screen and (max-width: 500px) {
  .card{
    width: 75%;
  }
}