.App {
  text-align: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;

}

.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.book-card {
  background-color: bisque;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#book-cover {
  width: 10rem;
  height: 14rem;
  object-fit: cover;


}

#book-title {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-bar {
  height: 2rem;
  width: 70rem;
}